<div class="auth-container">
    <mat-card>
        <h1>Login</h1>
        <form [formGroup]="loginForm" class="form">
            <mat-form-field class="full-width">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="pat@example.com" autocomplete="off" formControlName="email"
                    (blur)="updateErrorMessages()" required />
                @if (loginForm.invalid) {
                <mat-error>{{errorMessageEmail()}}</mat-error>
                }
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Enter your password</mat-label>
                <input matInput formControlName="password" [type]="hide() ? 'password' : 'text'"
                    (blur)="updateErrorMessages()" required />
                <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide()">
                    <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                @if (loginForm.invalid) {
                <mat-error>{{errorMessagePassword()}}</mat-error>
                }
            </mat-form-field>

            <button mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>

            <p>Don't have an account? Register <a routerLink="../register">here</a></p>
        </form>

    </mat-card>
</div>